.shortcut {
    width: 100%;
}

.copy-element {
  margin-bottom: 10px;
}
.copy-element__item {
  padding: 8px 0px;
  border-bottom: 1px solid #ddd;
}

.shortcut-name {
  font-size: 16px;
  font-weight: 100;
}

.shortcut-command {
  font-size: 17px;
  /* padding-top: 6px; */
  color: black;
  padding: 10px 0 0 0;
  margin: 0;
}
.close-out {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 10px;
}
#cancel:hover {
  opacity: 0.6;
}

.form-parent h1 {
  padding-bottom: 10px;
}

.button-flex {
  display: flex;
  align-items: center;
}